<div class="container mt-5 trips-new">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">Create a New Trip 🌍</h2>
        </div>
        <div class="card-body">
          <%= simple_form_for @trip do |f| %>
            <div class="form-group">
              <%= f.input :name, label: 'My Trip Name', input_html: { class: 'form-control' } %>
              <%= f.input :destination, label: 'Trip Destination', input_html: { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :start_date, as: :string, label: 'Start date', input_html: { id: 'start_date', class: 'form-control' } %>
                </div>
                <div class="col-md-6">
                  <%= f.input :end_date, as: :string, label: 'End date', input_html: { id: 'end_date', class: 'form-control' } %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.input :mood, as: :select,
                          collection: ["🏡 Family", "🤝 Friends", "👩‍❤️‍💋‍👨 Romance"],
                          label: 'Mood',
                          input_html: { class: 'form-control' } %>
            </div>
            <div class="form-group d-flex mt-4 gap-4">
              <%= f.submit '➕ Create trip', class: 'btn btn-primary' %>
              <%# <%= button_to "Plan your trip with guAIde", chats_path, method: :post, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
