<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="mb-4">
        <em>My Trip:</em> <b><%= @trip.name %></b>
      </h2>
      <h2 class="mb-4">
        <em>My Destination:</em> <b><%= @trip.destination %></b>
      </h2>
      <h4>My activities</h4>
      <div class="row">
        <% @trip.trip_activities.each do |trip_activity| %>
          <div class="col-md-3 mb-4"> <!-- 4 cards par ligne -->
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><%= trip_activity.activity.name %></h5>
                <p class="card-text text-muted"><%= trip_activity.activity.description %></p>
              </div>
              <div class="card-footer">
                <p class="mb-1"><%= trip_activity.activity.address %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Bouton retour -->
      <%= link_to "â¬…ï¸ Back to activities", activities_path, class: 'btn btn-success mt-4' %>
      <!-- Bouton suppression du voyage -->
      <%= link_to "ðŸ—‘ï¸ Delete trip",
                  trip_path(@trip),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this trip?" },
                  class: 'btn btn-danger mt-4' %>
    </div>
  </div>
</div>
