<% messages.each do |message| %>
  <div class="mb-3 d-flex <%= message.role == 'user' ? 'justify-content-end' : 'justify-content-start' %>">
    <div class="px-4 py-2 rounded-5 shadow-sm text-white"
         style="max-width: 70%; background-color: <%= message.role == 'user' ? '#00A5CF73' : '#6c757d' %>;">
      <small class="d-block fw-bold mb-1"><%= message.role.capitalize %></small>
      <%= markdown(message.content) %>
      <% if message.role != 'user' %>
        <div class="mt-2 text-end">
          <%= form_with url: save_message_trip_path(trip), method: :post, local: true do |f| %>
            <%= hidden_field_tag :content, message.content %>
            <%= f.submit "Save", class: "btn btn-sm btn-light rounded-pill mb-3" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
