<div id="<%= dom_id(message) %>" class="mb-3 d-flex <%= message.role == 'user' ? 'justify-content-end' : 'message-assistant justify-content-start' %>">
  <div class="<%= message.role == 'user' ? 'text-white' : '' %> px-4 py-2 rounded-4 shadow-sm"
       style="<%= message.role == 'assistant' ? 'background-color:#e0e0e0; color:#333;' : 'background-color:#00A5CF' %>;
              max-width: 70%;
              font-family: 'Segoe UI', Roboto, sans-serif;
              font-size: 0.95rem;
              line-height: 1.4;">

    <% if message.role == 'assistant' %>
      <% if message.parsed_content.present? %>
        <% plan = message.parsed_content %>
        <% if plan["Schedule"] == true %>
          <% plan.delete("Schedule") %>
          <% sorted_plan = plan.sort_by { |day, _| Date.parse(day) } %>
          <% sorted_plan.each do |day, activities| %>
            <% correct_day = Date.parse(day).strftime("%A") %>
            <h6 class="fw-bold mb-2" style="color:#333;"><%= "#{correct_day}, #{day}" %></h6>
            <% activities.each do |activity| %>
              <div class="mb-3">
                <div class="border rounded-4 p-3 mb-2" style="background-color:#e7e7e7; border-color:#bbb; color:#333;">
                  <div class="fw-bold mb-1" style="font-size:1rem;"><%= activity["name"] %> (<%= activity["category"] %>)</div>
                  <div class="text-muted mb-1" style="font-size:0.85rem;"><%= activity["start_date_time"] %> - <%= activity["end_date_time"] %></div>
                  <div style="margin-bottom:0.3rem;"><%= activity["description"] %></div>
                  <div class="text-muted" style="font-size:0.85rem;"><%= activity["address"] %></div>
                </div>
              </div>
            <% end %>
          <% end %>

            <div class="mt-2 text-end">
              <%= form_with url: save_message_trip_path(trip), method: :post, local: true do |f| %>
                <%= hidden_field_tag :content, message.parsed_content.to_json %>
                <%= f.submit "Save", class: "btn btn-sm btn-light rounded-pill mb-3" %>
              <% end %>
            </div>
          
        <% else %>
          <div class="mb-2" style="color:#555;">
            <%= markdown(plan["notes"]) %>
          </div>
        <% end %>
      <% else %>

        <div class="mb-2" style="color:#555; white-space:pre-wrap;">
          <%= simple_format(h(streaming_preview(message.content))) %>
        </div>
      <% end %>
    <% else %>
      <%= markdown(message.content) %>
    <% end %>

  </div>
</div>
