<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4 justify-content-center">All activities</h2>

      <ul class="list-group mb-4">
        <% @activities.each do |activity| %>
          <li class="list-group-item">
            <%= link_to activity.name, activity_path(activity), class: 'text-decoration-none' %>
          </li>
        <% end %>
      </ul>

        <%= link_to "Add a New Activity", new_activity_path, class: "btn btn-primary" %>
        <%# <%= link_to "Add a New Trip", new_trip_path, class: "btn btn-primary" %>
      </div>



      <%# <%= link_to "Add a New Activity", new_activity_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4">My Trips</h2>
      <ul class="list-group mb-3">
        <% @trips.each do |trip| %>
          <li class="list-group-item">
            <%= link_to trip.name, trip_path(trip), class: 'text-decoration-none' %>
          </li>
        <% end %>
      </ul>
        <div class="d-flex gap-3">
            <%= link_to "Add a New Trip", new_trip_path, class: 'btn btn-primary' %>
            <%= button_to "Plan your trip with guAIde", chats_path, method: :post, class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>
