<%= render "shared/navbar" %>


<!-- Top Trendy -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4">Top Trendy Activities</h2>

      <div class="swipe-carousel" data-controller="swipe">
        <div class="swipe-carousel__track" data-swipe-target="track" role="region" aria-label="Top trendy activities">
          <% @activities.first(10).each do |activity| %>
            <div class="card h-100">
              <% if activity.photo.attached? %>
                <%= image_tag activity.photo.variant(resize_to_fill: [600, 300]).processed, class: "card-img-top" %>
              <% else %>
                <%= image_tag "placeholder.svg", class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title mb-1"><%= activity.description %></h5>
              </div>
              <div class="card-footer bg-transparent">
                <p class="mb-1">Address : <%= activity.address %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Must-See -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4">Must-See Activities</h2>

      <div class="swipe-carousel" data-controller="swipe">
        <div class="swipe-carousel__track" data-swipe-target="track" role="region" aria-label="Must-see activities">
          <% @activities.last(10).each do |activity| %>
            <div class="card h-100">
              <% if activity.photo.attached? %>
                <%= image_tag activity.photo.variant(resize_to_fill: [600, 300]).processed, class: "card-img-top" %>
              <% else %>
                <%= image_tag "placeholder.svg", class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title mb-1"><%= activity.description %></h5>
              </div>
              <div class="card-footer bg-transparent">
                <p class="mb-1">Address : <%= activity.address %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4">My Trips</h2>
      </ul>
        <div class="d-flex gap-3">
            <%= button_to "Plan your trip with guAIde", chats_path, method: :post, class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>
