<div class="container mt-5 trips-show">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="trip-card shadow-lg">
        <div class="trip-card__header d-flex justify-content-between align-items-center">

          <div>
            <h1 class="title"><%= @activity.name %></h1>
            <p class="subtitle"><%= @activity.address %></p>
            <div class="chips">
              <span class="chip"><%= @activity.category.name %></span>
            </div>
          </div>

          <% if user_signed_in? %>
            <div class="ms-3 d-flex flex-column align-items-center gap-2">
              <% if current_user.favorited?(@activity) %>
                <%= button_to unfavorite_activity_path(@activity),
                              method: :delete,
                              class: "btn border-0 rounded-circle d-flex align-items-center justify-content-center",
                              style: "width: 50px; height: 50px; font-size: 50px; border-radius: 50%;" do %>
                  <iconify-icon icon="healthicons:heart" data-inline="false" style="color: red; width: 50px; height: 24px;"></iconify-icon>
                <% end %>
              <% else %>
                <%= button_to favorite_activity_path(@activity),
                              method: :post,
                              class: "btn border-0 rounded-circle d-flex align-items-center justify-content-center",
                              style: "width: 50px; height: 50px; font-size: 50px; border-radius: 50%;" do %>
                  <iconify-icon icon="healthicons:heart-outline" data-inline="false" style="color: red; width: 50px; height: 24px;"></iconify-icon>
                <% end %>
              <% end %>

              <% if params[:trip_id].present? %>
                <% if @trip.activities.include?(@activity) %>
                  <%= button_to trip_trip_activity_path(@trip, @trip_activity),
                        method: :delete,
                        class: "btn border-0 rounded-circle d-flex align-items-center justify-content-center",
                        style: "width: 50px; height: 50px; font-size: 40px; border-radius: 50%;" do %>
                    <iconify-icon icon="icon-park:add-print" style="color: black; width: 50px; height: 24px;"></iconify-icon>
                  <% end %>
                <% else %>
                  <%= button_to trip_trip_activities_path(@trip, activity_id: @activity.id),
                        method: :post,
                        class: "btn border-0 rounded-circle d-flex align-items-center justify-content-center",
                        style: "width: 50px; height: 50px; font-size: 40px; border-radius: 50%;" do %>
                    <iconify-icon icon="fluent-mdl2:add-event" style="color: black; width: 50px; height: 24px;"></iconify-icon>
                  <% end %>
                <% end %>
              <% else %>
                <%= button_to choose_trip_activity_path(@activity),
                      method: :get,
                      class: "btn border-0 rounded-circle d-flex align-items-center justify-content-center",
                      style: "width: 50px; height: 50px; font-size: 40px; border-radius: 50%;" do %>
                  <iconify-icon icon="fluent-mdl2:add-event" style="color: black; width: 50px; height: 24px;"></iconify-icon>
                <% end %>
              <% end %>
            </div>
          <% end %>

        </div>

        <div class="card h-100">
          <% if @activity.photo.attached? %>
            <%= cl_image_tag @activity.photo.key, class: "card-img-top" %>
          <% else %>
            <%= image_tag "placeholder.svg", class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= @activity.description %></h5>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
