
<div class="container mt-5 trips-show">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="trip-card shadow-lg">
        <div class="trip-card__header">
          <h1 class="title"><%= @activity.name %></h1>
          <p class="subtitle"><%= @activity.address %></p>
            <div class="chips">
              <span class="chip"><%= @activity.category.name %></span>
            </div>
        </div>
            <div class="card h-100">
                  <% if @activity.photo.attached? %>
                    <%= image_tag @activity.photo.variant(resize_to_fill: [600, 300]).processed, class: "card-img-top" %>
                  <% else %>
                    <%= image_tag "placeholder.svg", class: "card-img-top" %>
                  <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= @activity.description %></h5>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
