<!DOCTYPE html>
<html>
  <head>
    <title>Tourease</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<meta name="mobile-web-app-capable" content="yes">
<%= tag.link rel: "manifest", href: webmanifest_path(format: :json) %>
<%= tag.link rel: "icon", href: image_url("app-icon-512.png"), type: "image/png" %>
<%= tag.link rel: "apple-touch-icon", href: image_url("app-icon-512.png") %>

<%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1/mapbox-gl-geocoder.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css",
                            integrity: "sha512-dyZ88n1M8f2xq4k3vG3m6KZ3V+UzS5Tj9kq+7wUpVjpc2wP6uZfclFybpQX1+Pc5iZ3nIUzRe+P9zOZ5d0ZG2Q==",
                            crossorigin: "anonymous",
                            referrerpolicy: "no-referrer" %>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </head>

  <body data-controller="swipe-back">
    <%= render "shared/flashes" %>

    <main id="page-content" class="<%= "page" unless controller_name == "chats" && action_name == "show" %>">
      <%= yield %>
    </main>

    <%= render "layouts/shared/footer" unless @hide_footer %>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>

    <script>
      function initLegacyDatepickers() {
        if (!window.flatpickr) return;

        document.querySelectorAll('.js-datepicker').forEach(function(el) {
          if (el._flatpickr) return;
          flatpickr.localize(flatpickr.l10ns.fr);
          flatpickr(el, {
            locale: "fr",
            altInput: true,
            altFormat: "d-m-Y",
            dateFormat: "Y-m-d",
            allowInput: true,
            disableMobile: true
          });
        });
      }

      document.addEventListener("turbo:load",   initLegacyDatepickers);
      document.addEventListener("turbo:render", initLegacyDatepickers);
    </script>
  </body>
</html>
